@import "./variables";
@import "./position";

// Noto Sans JP [400, 500, 700, 900] from Google Fonts
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900&display=swap&subset=japanese');

$theme-colors: ( // color for bootstrap
  "keio-pink": $keio-pink,
  "keio-blue": $keio-blue
);

@import "~bootstrap";

* {
  font-family: "Noto Sans JP", sans-serif;
}


h2 {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0 0 .2rem .6rem;
  border-left: solid 0.8rem $keio-pink;
  margin-bottom: .8rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0;
  margin-bottom: .8rem;
}

p {
  line-height: 1.75rem;
  margin-bottom: .75rem;
}

section {
  margin-bottom: 1.5rem;
}

.alert {
  margin: 1rem;
}

code {
  padding: .15em .25em .1em .25em;
  margin: 0 .25em 0 .25em;
  border-radius: 0.2rem;
  border: 1px solid #aaa;
  background-color: #f8f9fa;
  color: $keio-pink;
}
pre {
  width: 100%;
  color: black;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
  font-size: 0.9rem;
  background-color: #f8f9fa;
  border-radius: 0.2rem;
  &:before,
  &:after {
    content: none;
  }
  code {
    padding: 0;
    margin: 0;
    border: none;
  }
}
